html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}





body {
    background-color: white;
    height: 100dvh;
    overflow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  ;




}

.main-container {
width: 300px;
height: 250px;
background-color: yellow;
position: relative;
border: 4px black solid;
display: none; /*change to flex*/


}





.main-wrapper{

width: 100%;
display: flex;
flex-direction: column;


}


.main-title{
height: 50%;
width: 100%;
font-family: "Comic Neue";
display: flex;
flex-direction: column;
align-items: center;
font-size: 19px;

}

.main-title h1 {
margin-bottom:2px;
margin-top: 15%;
}

.main-container p {
font-style:italic;
font-size: large;
margin-top: 0;
font-weight: 1000;

}

.main-buttons {
height: 120px;
width: 100%;

display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
gap: 10px;

}

.main-buttons button {
height: 35%;
width: 50%;
font-family: "Comic Neue";
font-size: large;
background-color: rgb(246, 223, 11);
border-radius: 10px;
border:2.5px black solid;
font-weight: bold;
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.412);
transition: all 0.1s ease-in-out;

}

html button:active {
box-shadow: none;
transition: 10ms;
transform: translateY(2px);


}






#full-screen-overlay-one {
height: 100vh;
width: 100vw;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center ;
gap: 20px;

}


#back-button button {
height: 50px;
width: 100px ;
font-family: "Comic Neue";
font-size: large;
background-color: rgb(246, 223, 11);
border-radius: 10px;
border:2.5px black solid;
font-weight: bold;
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.412);
transition: all 0.1s ease-in-out;

}


#overlay-log-one-box {
height: 400px;
width: 320px;
background-color: yellow;
border: 4px black solid;
display: flex;
flex-direction: column;
}


.overlay-log-one-title {
display: flex;
justify-content: center;
background-color: red;
font-family: "Comic Neue";
height: 60px;

}
.overlay-log-one-title h1 {
display: flex;
font-family: "Comic Neue";


}

.overlay-log-one-purpose {
background-color: violet;
display: flex;
flex-direction: column;
align-items: center;
font-family: "Comic Neue";



}

.overlay-log-one-purpose input {
width: 250px;
height: 40px;
border: 2px black solid;
border-radius: 10px;


}

.overlay-log-one-purpose input::placeholder {
font-style: italic;
padding: 5px;


}

.overlay-log-one-purpose p {
margin-bottom: 5px;
margin-top: 5px;
font-size: 20px;
font-weight: bold


}



